<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeEditor - Python редактор</title>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/codemirror.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/monokai.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dracula.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
{% include 'menu/menu.html' %}
<div class="main-container">
    <div class="main-content">
        <div class="tabs-header">
            <div class="tabs-container" id="tabsContainer"></div>
            <button class="add-tab-btn" id="addTabBtn" title="Создать новый таб">
                <i class="fas fa-plus"></i>
            </button>
        </div>

        <div class="editor-container" id="editorContainer">
            {% include 'content/empty_container_file.html' %}
        </div>
    </div>
</div>

<!-- Модальное окно создания нового таба -->
{% include 'modal/modal_new_tab.html' %}

<!-- Модальное окно ожидания участников -->
{% include 'modal/modal_waiting_user.html' %}

<!-- Модальное окно приглашения -->
{% include 'modal/modal_welcome_user.html' %}

<script src="{% static 'js/codemirror.min.js' %}"></script>
<script src="{% static 'js/python.min.js' %}"></script>
<script src="{% static 'js/matchbrackets.min.js' %}"></script>
<script src="{% static 'js/active-line.min.js' %}"></script>
<script src="{% static 'js/socket.io.min.js' %}"></script>
<script src="{% static 'web_socket_code.js' %}"></script>
<script src="{% static 'code_editor.js' %}"></script>

<script>

    //
    // const wsUrl = `ws://${window.location.host}/ws/code_cup/${currentRoomId}/`;
    // let isConnected = false;
    // console.log('🔗 Подключение к:', wsUrl);
    //
    // socket = new WebSocket(wsUrl);
    // console.log(socket)
    //
    // socket.onopen = function () {
    //     console.log('✅ WebSocket подключен!');
    //     isConnected = true;
    //     if (currentRoomId) {
    //         console.log('Пользователь подключился к чату'); // Избегаем спама при переподключении
    //     }
    // };
    //
    // socket.onmessage = function (event) {
    //     try {
    //         const data = JSON.parse(event.data);
    //         console.log('Получено:', data);
    //     } catch (e) {
    //         console.error('Ошибка парсинга:', e);
    //     }
    // };
    //
    // socket.onclose = function (event) {
    //     console.log('WebSocket отключен');
    //     isConnected = false;
    //     тут сделаем так, чтобы было уведомление и редирект на начальный экран
    //
    //
    //     Пробуем переподключиться через 3 секунды
    //     setTimeout(function () {
    //         if (!isConnected) {
    //             socket = new WebSocket(wsUrl);
    //         }
    //     }, 3000);
    // };

</script>


<script>
    const currentRoomId = '{{ user.token }}'
    let newTabModal = null
    let codeEditor = null

    async function initApp() {
        const socket = new SocketIOCode(currentRoomId);
        await socket.connect()

        codeEditor = new CodeEditor(socket);
        newTabModal = new NewTabModal(socket, codeEditor);

        await codeEditor.renderTabs()
    }

    $("#addTabBtn").click(function () {
        newTabModal.show();
    })

    document.addEventListener('DOMContentLoaded', initApp);
</script>
</body>
</html>